@import "tailwindcss";



@theme inline {
  /* colors */
  --color-neutral-0: #ffffff;
  --color-neutral-600: #3C3B5E;
  --color-neutral-800: #262540;
  --color-neutral-200: #D4D3D9;
  --color-orange-500: #FF820A;
  --color-neutral-700: #302F4A;
  --color-neutral-900: #02012C;


}



body {
  color:var(--color-neutral-0);
  background:var(--color-neutral-900);
}
